#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

export DEB_BUILD_GNU_TYPE=$(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
export DESTDIR=$(CURDIR)/debian/tmp

# main packaging script based on dh7 syntax
%:
	dh $@ 

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/lib $(DESTDIR)/usr/include
	install -v -m644 obj-$(DEB_BUILD_GNU_TYPE)/libwiringX.so $(DESTDIR)/usr/lib/
	install -v -m644 obj-$(DEB_BUILD_GNU_TYPE)/libwiringX.a $(DESTDIR)/usr/lib/
	install -v -m644 wiringX.h $(DESTDIR)/usr/include/
